.fonts {
    background: url(https://coolbackgrounds.io/images/backgrounds/index/ranger-4df6c1b6.png) no-repeat center fixed;
    background-size: cover;
    font-family: 'Architects Daughter', cursive;
}

#header{
    background-color:rgb(10, 192, 152);
    color: white;
    height: 50px;
    padding-top: 20px;
    padding-bottom: 80px;
   
}

.text-center{
    font-size: 50px;
}

.card {
    margin-right: 2em;
    
}

.card-header {
    background-color:rgb(67, 201, 190);
    color: white;
}