.fonts {
    font-family: 'Architects Daughter', cursive;
}

#header{
    background-color:rgb(0, 119, 255);
    color: white;
    height: 50px;
    padding-top: 20px;
    padding-bottom: 80px;
   
}

.text-center{
    font-size: 50px;
}

.card {
    margin-right: 2em;
}

.card-header {
    background-color:rgb(52, 197, 241);
    color: white;
}